/* Style to get the cheat sheet link in the home page */

a.cta {
  text-align: center;
  border-radius: 8px;
}

a.cta.mojuru-plus:hover {
  border-color: var(--vp-c-brand);
  background-color: var(--c-bg-accent);
}

a.cta.discord:hover {
  border-color: var(--discord);
  background-color: var(--discord);
}

a.cta.discord {
  background-color: var(--discord);
}

a.cta.mojuru-plus {
  height: 100%;
  line-height: 100%;
  display: flex;
  justify-content: center;
  white-space: pre;
  min-height: 41px;
  position: relative;
  background-color: transparent;
  font-size: 17px !important;
  font-weight: 700 !important;
}

a.cta::before {
  content: '';
  width: 22px;
  height: 22px;
  margin-right: 6px;
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: bottom;
  line-height: normal;
  background-size: 22px;
}

a.cta.mojuru-plus::before {
  background-image: url('/public/logo.webp');
  transform: translateY(8px);
}

a.cta.discord::before {
  background-image: url('/public/discord-logo.webp');
  transform: translate(-1px, -7.5px);
}

a.cta.mojuru-plus:hover::after {
  animation: none;
}

a.cta.mojuru-plus {
  transform: scale(1);
}

a.cta.mojuru-plus:active {
  transform: scale(0.9);
}

a.cta.mojuru-plus::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--vp-c-brand-1);
  border-radius: 20px;
  animation: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;
  z-index: -1;
}

@keyframes ping {

  15%,
  to {
    transform: scale(1.25, 2);
    opacity: 0;
  }
}